#home-page {
  width: 100%;
  height: 800px;
  background-image: url("/images/downtown.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/downtown.jpg) repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin-top: 1rem;
}
#home-content {
  color: var(--color-grey-100);
  text-align: left;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  right: 30%;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home-content h1 {
  font-size: 2.5rem;
  margin: 0;
}
#home-content h2 {
  margin: 0;
  font-size: 0.85rem;
  padding: 0;
}
#home-content p {
  margin: 0;
}
#section-2 {
  color: var(--color-grey-100);
}
.content {
  background: linear-gradient(
    90deg,
    var(--color-red-200),
    var(--color-red-400)
  );
  padding: 1rem 6rem;
}
.content h2 {
  text-transform: uppercase;
}
.content p {
  width: 85%;
}

@media (max-width: 48rem) {
  #home-page {
    background-size: cover;
    background-repeat: no-repeat;
  }
  #home-content {
    color: var(--color-grey-100);
    text-align: left;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    right: 20%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #home-content h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  #home-content h2 {
    margin: 0;
    font-size: 0.5rem;
    padding: 0;
  }
  #home-content p {
    margin: 0;
  }
  .content {
    padding: 1rem;
  }
  
  .content h2{
    text-align: center;
  }
}
